{% if all_survey_set %}
    {% for survey in all_survey_set %}
        <h1>Survey Name: {{survey.survey_name}}</h1>
        {% for mcquestion in survey.mcquestion_set.all%}
            <h2>{{forloop.counter}}. {{mcquestion.question_text}}</h2>
            <ul>
            {% for mcchoice in mcquestion.mcchoice_set.all %}
                <li>{{ mcchoice.choice_text }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% else %}
    <p>Empty Survey</p>
{% endif %}